{% extends "layout.html" %}
{% block title %}Crime Tracker{% endblock %}
{% block resources %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% include 'partials/_sidebar.html' %}
{% include 'partials/_map.html' %}
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"> </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh8IIVLRKMlSP3tCet7bnj-0sLbG2D5eM&callback=initMap"></script>
{% endblock %}